@import "tailwindcss";

@font-face {
  font-family: "Title_Font_Gilroy";
  src: url("../assets/fonts/Gilroy-Light.otf") format("opentype");
}
@font-face {
  font-family: "Title_Font_Gilroy_Bold";
  src: url("../assets/fonts/Gilroy-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "Other_Font_Suisse";
  src: url("../assets/fonts/suisse-intl-regular.ttf") format("truetype");
}

:root {
  --background: #F4F8F7;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F4F8F7;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Other_Font_Suisse, sans-serif;
}

.other_font {
  font-family: Other_Font_Suisse, sans-serif;
}
.title_font{
  font-family: Title_Font_Gilroy, sans-serif;
}
.title_font_bold{
  font-family: Title_Font_Gilroy_Bold, sans-serif;
}

.container {
  width: 100%;
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
  padding-left: clamp(16px, 4vw, 80px);
  padding-right: clamp(16px, 4vw, 80px);
}